<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/dashboard.css">
    <%- include lib.ejs -%>
    <title>Admin Dashboard</title>
  </head>
  <body>
    <%- include admin-dashboard-menu.ejs -%>
    <% include particle-background.ejs %>
    <div class="container-fluid gradient-scooter">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 md-6">
            <div class="sidebar card">
                <a class="btn btn-info btn-lg" href="/add-event">Add Event</a>
                <a class="btn btn-danger btn-lg " href="/add-organisation">Add Organisation</a>
                <a class="btn btn-success btn-lg" href="/approve-user" >Approve User</a>
                <a class="btn btn-primary btn-lg" href="/coordinators-payment-details" >Coordinators Payment Details</a>
                <a class="btn btn-warning btn-lg" href="/approve-payment-by-organiser">Approve Payment</a>
                <a class="btn btn-info btn-lg" href="/view-final-approved-payment">View Final Approved Payment</a>
                <a class="btn btn-danger btn-lg" href="/print-event-wise-participation-list">Print Event wise Participants </a>
                <a class="btn btn-success btn-lg" href="/coordinator-wise-participants-list">Coordinator Wise Participants List</a>
                <a class="btn btn-primary btn-lg" href="/tshirt-details" >Tshirt Details</a>
                <a class="btn btn-dark btn-lg" href="/check-stats" >Check Stats</a>
                <a class="btn btn-warning btn-lg" href="/view-user-details" >View Details</a>
             </div>
        </div>
        <div class="col-lg-5 md-6">
          <img class="img-thumbnail" src="/images/events/isc-2K19/interschool-carnival-2k19.jpg" alt="INTERSCHOOL CARNIVAL">
        </div>
        <div class="col-lg-1"></div>
      </div>

      <div class="content" id="main-body-content">
      </div>
    </div>
  </body>
</html>
