<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include lib.ejs %>
    <meta charset="utf-8">
    <title>Donate | BRM Foundation</title>
  </head>
  <body>
      <% include menu.ejs %>
      	<% include particle-background.ejs %>
      <div class="container-fluid">

        <section id="donor">
          <h1>Do You Want TO Help?</h1>
          <div class="row">
            <div class="col-md-7">
              <img src="/images/common/donate.jpg" class="img-thumbnail" alt="Unable to load image">
            </div>
            <div class="col-md-5">
              <div class="donor-text">
                <p class="text-center">Why you should help?</p>
                <ul>
                  <li>Your small contribution can help to making future of others.</li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <section id="where-we-use">
          <h1>Where We Use Your Donation?</h1>
          <div class="row">

            <div class="col-lg-3 col-md-4">
              <div class="card bg-success">
                <img class="card-img-top" src="/images/common/education.jpg" alt="Unable to load Education image">
                <div class="card-body">
                  <h4 class="card-title">Education</h4>
                  <p class="card-text">Education is the primary requirement for each person of the society. We support poor students to get proper education. Different activities are coducted in government and non-government schools by our team. Along with academic activities we work on co-curricular activities and organizes different district level, state level and national levels competitions.</p>
                  <a href="/our-unit" class="btn btn-primary">Click here for more details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card bg-warning">
                <img class="card-img-top" src="/images/common/health-care.jpg" alt="Unable to load health care image">
                <div class="card-body">
                  <h4 class="card-title">Health Care</h4>
                  <p class="card-text">We organizes camps in our working areas to aware the people regarding healths. Why health is important?. How we can reamin disease free?.  What should we do to remain healthy in our life?. In these camps we distribute basic medical kits. We organizes blood donation camps with cooperation of volunatry hospitals. <br> &nbsp;  </p>
                  <a href="#" class="btn btn-primary">Click here for more details</a>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card bg-info">
                <img class="card-img-top" src="/images/common/training.jpg" alt="Unable to load training image">
                <div class="card-body">
                  <h4 class="card-title">Training</h4>
                  <p class="card-text">We organizes different technical and non-technical training camps in summer for the students of school and colleges. We focus on the trainings which can help them to build better future and make them corporate ready. We also conducts short term trainings for skill development. We also organizes placement drives workshops for the students of colleges.</p>
                  <a href="#" class="btn btn-primary">Click here for more details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card bg-danger">
                <img class="card-img-top" src="/images/common/environment.jpg" alt="Unable to load environment image">
                <div class="card-body">
                  <h4 class="card-title">Environment</h4>
                  <p class="card-text">Our dedicated team of BRM foundation takes care of our environment. We organizes camps for school students, college students and general public for making them aware how we can save our environment and why we should save our environment. We do tree plantation in our working area. </p>
                  <a href="#" class="btn btn-primary">Click here for more details</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4">
              <div class="card bg-secondary">
                <img class="card-img-top" src="/images/common/child-care.jpg" alt="Unable to load child care image">
                <div class="card-body">
                  <h4 class="card-title">Women Empowerment</h4>
                  <p class="card-text">Our work area also focuses on "Women Empowerment". We organizes different activities for girls and womens. We motivates people to educate girls and give them equal opportunity as comparison to boys. As girls are now days ahead of boys in different sectors.  </p>
                  <a href="#" class="btn btn-primary">Click here for more details</a>
                </div>
              </div>
            </div>

          </div>
        </section>
      </div>
      <% include footer.ejs %>

  </body>
</html>
