
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome TO BRM Foundation</title>
    <% include lib.ejs %>
    <title>Welcome To BRM Foundation</title>
    <meta name="description" content="Babu Ram Mahto Foundation is public trust founded by Bhagirath Kumar on 16 Aug 2017. Head office: Apex public school campus, NH-23, Goal road, Marang March, Ramgarh, Jharkhand, India. Contact number: +91-9835726336. Registration number: B798714" />
    <meta name="keywords" content="Babu Ram Mahto Foundation, BRM Foundation, BRM Foundation members, BRM Foundation Registration number, babu ram mango foundation official website, brm foundation official website.">
    <meta property="og:image" content="https://isc2k19-brmfoundation.herokuapp.com/images/events/isc-2K19/interschool-carnival-2k19.jpg"/>
  </head>
  <body>
    <!--inlcuding header -->
      <% include menu.ejs %>

      <!-- Home carousel -->

      <% include home-carousel.ejs %>

      <!--including footer page-->
      <% include footer.ejs %>

  </body>
</html>
