  <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
      <td data-marqueebox="1">
      <div class="marque-main">
        <ul>
          <li>
            <a href="http://bsabharat.org/" target="_blank">
              <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/birsa-social-academy.jpg" alt="Birsa Social Academy">
            </a>
        </li>
        <li>
          <a href="#">
          <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/Rahul-Chauhan.jpg" alt="Capital Book">
          </a>
         </li>
        <li>
          <a href="#">
            <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/hdfc-bank.jpg" alt="hdfc bank">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/juhi-vastralay.jpg" alt="Juhi vastralay">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/Niraj.jpg" alt="Niraj">
          </a>
        </li>
        <li>
          <a href="#">
            <img class="img-thumbnail" src="/images/events/isc-2K19/sponsors/mr-shopping-centre.jpg" alt="Mr Shopping centre">
          </a>
        </li>

        </ul>
      </div>
      </td>
      <td data-marqueebox="2">
      </td>
    </tr>
    </tbody>
  </table>
