<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include lib.ejs %>
    <link rel="stylesheet" href="css/common.css">
    <title></title>
  </head>
  <body>
    <% include menu.ejs %>
    <%- include particle-background.ejs -%>
    <div class="container-fluid">
      <div class="media-news-coverage">
        <h1>Media Corner</h1>
        <h2 class="text-primary">YEAR:2019</h2>
        <div class="row">
          <div class="col-lg-7">
            <img class="img-thumbnail" src="/images/media-corner/Interschool-carnival-2k19-desh-pran.jpeg" alt="Unable to load image">
          </div>
          <div class="col-lg-5">
            <img class="img-thumbnail" src="/images/media-corner/Interschool-carnival-2k19-dainik-bhaskar.jpeg" alt="Unable to load image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7">
            <img class="img-thumbnail" src="/images/media-corner/Interschool-carnival-2k19-prabhat-khabar.jpeg" alt="Unable to load image">
          </div>
          <div class="col-lg-5">
            <img class="img-thumbnail" src="/images/media-corner/Interschool-carnival-2k19-dainik-jagran.jpeg" alt="Unable to load image">
          </div>
        </div>
        <h2 class="text-primary">YEAR:2018</h2>
        <div class="row">
          <div class="col-lg-5">
            <img class="img-thumbnail" src="/images/media-corner/summer_training_dainik_bhaskar.png" alt="Unable to load image">
          </div>
          <div class="col-lg-4">
            <img class="img-thumbnail" src="/images/media-corner/media-6.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-3">
            <img class="img-thumbnail" src="/images/media-corner/media-11.jpg" alt="Unable to load image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail" src="/images/media-corner/media-8.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-4">
            <img class="img-thumbnail" src="/images/media-corner/media-10.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-4">
            <img class="img-thumbnail" src="/images/media-corner/media-5.jpg" alt="Unable to load image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <img class="img-thumbnail" src="/images/media-corner/media-7.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-5">
            <img class="img-thumbnail" src="/images/media-corner/media-9.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-3">
            <img class="img-thumbnail" src="/images/media-corner/media-12.jpg" alt="Unable to load image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-thumbnail" src="/images/media-corner/media-4.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-6">
            <img class="img-thumbnail" src="/images/media-corner/media-3.jpg" alt="Unable to load image">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img class="img-thumbnail" src="/images/media-corner/media-2.jpg" alt="Unable to load image">
          </div>
          <div class="col-lg-6">
            <img class="img-thumbnail" src="/images/media-corner/media-1.jpg" alt="Unable to load image">
          </div>
        </div>
      </div>

		</div>

    <%- include footer.ejs -%>
  </body>
</html>
