<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include lib.ejs %>
    <title>Members | BRM Foundation</title>
  </head>
  <body>
    <% include menu.ejs %>
    <%- include particle-background.ejs -%>

    <div class="container-fluid">
      <div class="team-members">
        <h1>Core Team Member</h1>
        <div class="row">
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/bhagirath.JPG" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Bhagirath Kumar</h5>
                  <h6>President</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Nageshwar.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Nageshwar Kumar</h5>
                  <h6>Vice President</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Madan.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Madan Mahto</h5>
                  <h6>Secretary</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/jitendra.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Jitendra Mahto</h5>
                  <h6>Treasurer</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Baldeo.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Baldeo Mahto</h5>
                  <h6>Member</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Rishi.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Rishi Mahto</h5>
                  <h6>Member</h6>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Kuldip.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Kuldip Kumar</h5>
                  <h6>Member</h6>
              </div>
             </div>
           </div>
       </div>

       <h1>Administrative Team</h1>
       <div class="row">
         <div class="col-lg-2 col-md-4">
           <div class="card">
             <div class="bg-light">
                <img class="img-thumbnail" id="member-image" src="/images/team-members/baburam.jpg" alt="Unable to load image">
             </div>
             <div class="card-body bg-info">
               <h5 class="card-title">Babu Ram Mahto</h5>
              </div>
           </div>
         </div>
         <div class="col-lg-2 col-md-4">
           <div class="card">
             <div class="bg-light">
                <img class="img-thumbnail" id="member-image" src="/images/team-members/Santosh.jpg" alt="Unable to load image">
             </div>
             <div class="card-body bg-info">
               <h5 class="card-title">Santosh Kr. Mahto</h5>
            </div>
           </div>
         </div>
         <div class="col-lg-2 col-md-4">
           <div class="card">
             <div class="bg-light">
                <img class="img-thumbnail" id="member-image" src="/images/team-members/Arvind.jpg" alt="Unable to load image">
             </div>
             <div class="card-body bg-info">
               <h5 class="card-title">Arvind Kumar</h5>
            </div>
           </div>
         </div>
         <div class="col-lg-2 col-md-4">
           <div class="card">
             <div class="bg-light">
                <img class="img-thumbnail" id="member-image" src="/images/team-members/vijay.jpg" alt="Unable to load image">
             </div>
             <div class="card-body bg-info">
               <h5 class="card-title">Vijay Kumar</h5>
            </div>
           </div>
         </div>
       </div>
       <h1>Event Planning And Executive Administrative Team</h1>
         <div class="row">
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Premlal.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Premlal Kumar</h5>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/brajesh.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Brajesh Kumar</h5>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Priyanka.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Priyanka Devi</h5>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Lankesh.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Lankesh Kr. Mahto</h5>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Manisha.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Manisha Devi</h5>
              </div>
             </div>
           </div>
           <div class="col-lg-2 col-md-4">
             <div class="card">
               <div class="bg-light">
                  <img class="img-thumbnail" id="member-image" src="/images/team-members/Anand-upadhyay.jpg" alt="Unable to load image">
               </div>
               <div class="card-body bg-info">
                 <h5 class="card-title">Anand Upadhyay</h5>
              </div>
             </div>
           </div>

         </div>

       </div>
     </div>

    <% include footer.ejs %>
  </body>
</html>
