<!DOCTYPE html>
<html lang="en">
<head>
	<% include lib.ejs %>
	<title>Mission | BRM Foundation</title>
</head>
<body>
	<%- include particle-background.ejs -%>
	<% include menu.ejs %>

	<!--End of menu bar-->

		<div class="container-fluid">
			<h2>The mission/objective of <strong>Babu Ram Mahto Foundation (BRM Foundation)</strong> are as follows:</h2>
			<ul>
				<li>To establish, maintain and run schools, Colleges(Technical/Non-Technical), social service centers, industrial tarining centers. To establish tarining centre, and allied education institutions. To establish social and cultural institutions.</li>
				<li>To spread promotion for education and learning in all branches specifically in Science and Technology. To train teachers and workers in ideals and practice of the true spirit of the education and learning.</li>
				<li>To bring, publish and sell, distribute books, periodicals, leaflets, brochures and papers and also to open and maintain libraries, reading rooms for the promotion of the objectives of the trust. To function as Non-communal trust and as secular organization.</li>
				<li>To establish centers for employment generations. To advance any other objects of general public utility. To work towards Women's empowerment by establishing small firm.</li>
				<li>To work towards controlling global warming by plantation etc. To promote government plan for nation development. To execute government plan in ground level. To work towards child developemnt, organizing events for them like quiz competition, dance compaetition etc.</li>
				<li>To promote sports for benefits of students.</li>
				<li>To provide industrial training for web developemnt, application developemnt etc.</li>
				<li>To complete governmental/non governmental civil works and activities. Consruction and maintenance of meditation and prayer hall for the benfit of public.</li>
				<li>Grant of donation to any temple, mosque, church, gurudwara and other places of worship or religious institutions.</li>
				<li>Providing for or contributing to education and scientific research and development.</li>
				<li>Providing releif to the poor and advancing any other object of general public utility.</li>
				<li>Work for all round development of the people of rural and sub-urban area with special thrust on tribal people, women &amp; children, poor and marginalized section of the society.</li>
				<li>To runand maintain centers for poor feeding and homes for the aged for the benefit of the public. To run old age home, orphanage and other institution for the benefit of general public.</li>
				<li>Providing grands, scholarships, fellowships and other forms of financial assistance to the needy and deserving students for pursuing education, vocational training, skill development etc. Establish, organize, run engineering college, ITI institute, vocational college, and any other educational and vocational training institute and college.</li>
				<li>Establishment, conduct and maintenance of clinical laboratories, medical college, hospitals, nursing homes, dispensaries and institution of similar nature and providing financial assistance to the deserving person for medical treatment, in any medical institution.</li>
				<li>All legal disputes shall be subject to Ramgarh jurisdiction.</li>
				<li>All activities of the trust will be carried within India.</li>
			</ul>
		</div>

	<!-- Footer -->
	<% include footer.ejs %>
	<!-- End Footer -->
</body>
</html>
