<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include lib.ejs %>
    <title>Our Unit | BRM Foundation</title>
  </head>
  <body>
    <% include menu.ejs %>
    <%- include particle-background.ejs -%>
    <div class="container-fluid">

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr><th>S.N.</th><th>Name of unit</th><th>Address</th><th>Website</th></tr>
					</thead>
					<tbody>
						<tr><td>1</td><td>Apex Public School</td><td>NH-23, Gola Road, Marang Marcha,<br />Ramgarh, Jharkhand, India-829150</td><td><a href="http://apexmm.org/" target="_blank">www.apexmm.org</td></tr>
						<tr><td>2</td><td>Quick Solution (Online tutorial portal)</td><td>Apex Public School Campus, NH-23, Gola Road, Marang Marcha,<br />Ramgarh, Jharkhand, India-829150</td><td><a href="http://qsoln.com/" target="_blank">www.qsoln.com</td></tr>
					</tbody>
				</table>
			</div>
		</div>
    <% include footer.ejs %>
  </body>
</html>
